<div class="media-body wrapper tile-grid">
  <div class="wrapper fave-tile">
    <div>
      <div class="fave-avatar">
        <% avatar_url = favorite.post.user.avatar_url(70) %>
        <% if avatar_url %>
            <div class="media-left">
              <%= image_tag avatar_url, class: 'media-object' %>
            </div>
        <% end %>
      </div>
      <div class="fave-info">
        <small>
          <%= link_to favorite.post.title, topic_post_path(favorite.post.topic, favorite.post) %>
          <p>Comments: <%= favorite.post.comments.count %> | Votes: <%= favorite.post.points%></p>
        </small>
    </div>
    </div>
  </div>
</div>
