<h1>Dishes</h1>

<div class="row">
  <div class="col-md-8">
    <%= render partial: 'topic', locals: { topic: @topic } %>
  </div>
  <% if current_user %>
    <div class="col-md-4">
        <%= link_to "New Dish", new_topic_path, class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
