<br>
<div class="jumbotron" id="jumbotron">
  <h1 id="booted">Booted</h1>
  <p>A place for coding bootcamp grads to share resources and skills!</p>
  <p>
    <%= link_to "Sign In", new_session_path, class:'btn btn-default' %> or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Job Search Woes</h2>
    <p>Starting out after a bootcamp can be rough, talk to those who've been there.</p>
  </div>
  <div class="col-md-4">
    <h2>What's Missing?</h2>
    <p>Get resources or brush up on skills before the first interview.</p>
  </div>
  <div class="col-md-4">
    <h2>Networking</h2>
    <p>Share resources and tips for getting to know your peers.</p>
  </div>
</div>
