<br>
<div class="jumbotron" id="jumbotron">
  <div class="greeting">
    <h1 id="booted">Cookit</h1>
    <p>A place to share Grandma's best recipes!</p>
    <p>
      <%= link_to "Sign In", new_session_path, class:'btn btn-default' %> or
      <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Cook a classic.</h2>
    <p>Browse through dishes and see what each grandma did to make her's special.</p>
  </div>
  <div class="col-md-4">
    <h2>Share a classic.</h2>
    <p>Immortalize Tia's famous albondigas recipe.</p>
  </div>
  <div class="col-md-4">
    <h2>Save favorites.</h2>
    <p>And get notified when other users have tried and perfected a recipe.</p>
  </div>
</div>
