// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gravatar {
  margin-bottom: 5px;
  margin-right: 5px;
}

.wrapper{
  display: grid;
}

.tile-grid{
  grid-template-columns: repeat(3, 1fr);
  display: inline;
}

.fave-avatar{
  float: left;
  display:inline;
}

.fave-tile {
  border: solid 1px black;
  margin: 5px;
  grid-auto-rows: 70px;
}

.fave-info{
  margin: 5px;
}
