.social-btn  {
  padding: 5px 10px 5px 10px;
  border-radius: 5%;
  border-color: gray;
  background-color: navy;
  text-decoration: none;
  color: white;
}

#booted{
  margin-top: 0;
}

.social-btn:hover {
  background-color: lightgray;
  color: navy;
}

#jumbotron{
  background-image: image_url("garlic.jpg");
  background-size: cover;
  background-position: bottom;
  height: 60vh;
  padding: 20px;
  position: relative;
}

#jumbotron p{
  font-weight: 400;
}

#jumbotron h1{
  font-weight: 600;
}

.greeting {
  background-color: rgba(245, 244, 247, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 90%;
  width: 97%;
  padding-top: 10%;
  border-radius: 1%;
}

@media (min-width: 1000px) {

}
