.social-btn  {
  padding: 5px 10px 5px 10px;
  border-radius: 5%;
  border-color: gray;
  background-color: navy;
  text-decoration: none;
  color: white;
}

#booted{
  margin-top: 0;
}

.social-btn:hover {
  background-color: lightgray;
  color: navy;
}

#jumbotron{
  background-image: image_url("computer2.jpg");
  background-size: cover;
  background-position: bottom;
  height: 60vh;
  padding: 20px;
}

#jumbotron p{
  font-weight: 400;
}

#jumbotron h1{
  font-weight: 600;
}

@media (min-width: 1000px) {
  #jumbotron p {
    max-width: 30vw;
  }
}
